body {
  display: flex;
  flex-direction: column;

  padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* h1, h3 {
  margin: 5px auto;
} */

/* #forms {
  display: flex;
  flex-direction: row;

  padding: 5px;

  border: firebrick 1px solid;
}

#images-upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: black 1px solid;

  width: 50%;
}

#address-data-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: black 1px solid;

  width: 50%;
}
#address-data-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
} */

#form {
  display: flex;
  flex-direction: row;

  padding: 5px;

  border: firebrick 1px solid;
}

#images-upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: black 1px solid;

  width: 50%;
}

#address-data-div {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: black 1px solid;

  width: 50%;
}

/* Button */
#generate-hids {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
}

#generate-hids:hover {
  background-color: #008CBA;
  color: white;
 }