body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#generate-hids {
  color: #0099CC;
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
}

#generate-hids:hover {
  background-color: #008CBA;
  color: white;
 }